<%= link_to('Create new post', 'posts/new', html_options = {class:'newpost'}) %>

<div class="container center">
	
		<% @posts.each do |post| %>
			<%= render partial: 'card', locals:{post: post} %>
		<% end %>

</div>
